/* style.css */

/* Conteneur parent pour l'image et le texte */
.image-container {
  position: relative;
  display: inline-block; /* Permet de limiter la largeur au contenu */
  top: 70px;
}

/* Style de l'image */
.image-container img {
  width: 100%; /* Pour occuper la largeur du conteneur parent */
  height: 100%; /* Pour maintenir le ratio d'aspect de l'image */
  display: block; /* Pour résoudre le problème de l'espace réservé sous l'image */
}

.badge-step1 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
}

.badge-step2 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
}

.badge-step3 {
  background-color: rgb(200, 238, 195);
  color: rgb(26, 24, 24);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
}

.badge-step4 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
}

/* Style du texte d'étape */
.overlay-text h6 {
  font-size: 16px;
  margin-left: 35px;
}

.ml-2{
  color: #555;
}

.step1{
  position: absolute;
  top: 10%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
}

.step2{
  position: absolute;
  top: 25%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
}

.step3{
  position: absolute;
  top: 39%;
  left: 32%;
  transform: translate(-50%, -50%);
  color: white;
}

.step4{
  position: absolute;
  top: 56%;
  left: 32%;
  transform: translate(-50%, -50%);
  color: white;
}

.information{
  position: absolute;
  top: 20%;
}

.bouton{
  position: absolute;
  top: 115%;
  left: 83%;
}

.retour{
  position: absolute;
  top: 115%;
}

.my-div {
  background-color: #cae6c1; 
  border: 1px solid #dee2e6; 
  border-radius: 10px; 
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  height: 60px;
  width: 580px;
}

.my-div1 {
  background-color: #fafcf9; 
  border: 1px solid #dee2e6; 
  border-radius: 10px; 
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  height: 60px;
  width: 580px;
}

.form-check b{
  position: absolute;
  margin-top: -30px;
}

.form-check p{
  position: absolute;
  margin-top: -17px;
}

.form-check h6{
  position: absolute;
  margin-top: -22px;
  margin-left: 465px;
}


